<div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <h1>
      Login</h1>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <form [formGroup]="page.loginForm" style="width:500px">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          Username</div>
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Username" [required]="false" formControlName="userName">

        </mat-form-field>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          Password</div>
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput type="password" placeholder="Password" [required]="false" formControlName="password">

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button color="primary" (click)="onSubmit()">Submit</button></div>
    </form>
  </div>
</div>